/node_modules
/public/hot
/public/storage
/public/upload
/public/upload/
/storage/*.key
/nbproject
/nbproject/private/private.xml
.htaccess
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
